body, html{
  height: 100%;
}

body{
  background-image: url('../../assets/imgs/background.jpg');
  background-repeat: no-repeat;
  background-color: #000;
  font-family: 'Taviraj', serif;
}

th{
  font-size: 1.2em;
}

.lg-margin-bottom{
  margin-bottom: 2em;
}

.preto-transparente{
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
}

.logo{
  width: 30%;
}
@media screen and (max-width: 520px) {
  .logo{
    width: 50%;
  }
}

.block-center-align{
  margin-left: auto;
  margin-right: auto;
}
/*
| Navbar
*/
.navbar{
  margin-top: 10px;
  font-size: 150%;
  color: white;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-inverse .navbar-nav>.active>a{
  background-color: rgb(255, 113, 28);
}

.navbar-inverse .navbar-nav>.active>a:hover{
  background-color: rgb(255, 113, 28);
}

.navbar-inverse .navbar-nav>li>a:hover{
  background: rgb(255, 166, 77);
  transition: background 1s;
}

.navbar-inverse .navbar-nav>li>a:visited{
  background: rgb(255, 166, 77);
}

/*
| Carousel
*/
.carousel-indicators{
  top: 5px;
  left: 30px;
  position: absolute;
}

.carousel-caption{
  text-shadow: 2px 2px 5px #000;
  position: absolute;
  top: 5px;
  left: 10px;
  text-align: left;
}
/*
| Panel
*/
.panel-padding{
  padding: 0 10px;
}

.panel{
  min-height: 500px;
}

.panel p {
  font-size: 1.2em;
}

/*
| Page Header
*/
.page-header{
  margin: 0px;
  margin-bottom: 40px;
  padding-bottom: 0px;
}

/*
| Row
*/
.row:not(#row-footer){
  margin-bottom: 20px;
}

/*
| Table
*/
.custom-table>tbody>tr>td{
  border-top: none;
  font-size: 1.5em;
  padding-top: 0px;
}

.table-hover>tbody>tr:hover {
  background-color: rgba(255, 153, 51, 0.2);
  transition: background-color 0.3s;
}

/*
| Custom
*/
.texto-cor-principal{
  color: #e27100;
}

.texto-primario {
  font-size: 1.5em;
}

.info-group > .texto-primario {
  display: block;
  line-height: 90%;
}

.info-group > .small{
  display: inline-block;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.btn-eg{
  font-size: 24px;
  padding: 15px;
  min-width: 120px;
}

.btn-primario{
  background: #ff8c21; /* Old browsers */
  background: linear-gradient(to bottom, #ff8c21 0%,#ffc896 100%);
  border: 1px solid #ff9933;
  color: #222;
  transition: color 0.8s;
}

.btn-primario:hover{
  color: #fff;
  border: 1px solid #fff;
}

.btn-primario:active{
  background-color: #ff8c21;
}

.footer{
height: 70px;
margin-bottom: 1px;
padding: 5px 15px;
background: rgb(255, 153, 51);
border-radius: 5px;
color: #000;
font-size: 1.1em;
}

@media screen and (min-width: 520px) {
  .text-footer-right{
    float: right;
  }
}


@media screen and (min-width: 520px) {
  .padding-footer{
    padding-top: 40px;
  }
}

@media screen and (max-width: 520px) {
  .padding-footer{
    padding-top: 15px;
    text-align: center;
  }
}

/*
| Loader
*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader{
  position: relative;
}

.loading {
  float: left;
  display: inline-block;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.loading-texto{
  float: left;
  position: absolute;
  top: 0.5em;
  margin-left: 0.3em;
}
