<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>L2Site</title>

  <!-- CSS -->
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Taviraj:400,700" rel="stylesheet">
  <link href="../../assets/css/main.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <!-- Logotipo -->
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <img src="../../assets/imgs/logo.png" alt="logotipo" class="img-responsive">
      </div>
    </div>
    <!-- /.Logtipo -->

    <!-- Navbar -->
    <nav class="navbar navbar-inverse preto-transparente">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="#nav1">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Cadastro</a></li>
          <li><a href="#">Informações</a></li>
          <li class="active"><a href="#">Downloads</a></li>
          <li><a href="#">Doações</a></li>
          <li class="hidden-sm"><a href="#">Fórum</a></li>
        </ul>
      </div>
    </nav>
    <!-- /.Navbar -->

    <div class="panel panel-default preto-transparente panel-padding">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="page-header">
            <h3>Cliente Interlude</h3>
          </div>

          <div class="info-group">
            <p><a href="#">Download por Link Direto</a><br/>
            <span class="small">Baixa através do navegador</span></p>
          </div>
          <div class="info-group">
            <p><a href="#">Download por Torrent</a><br/>
            <span class="small">Use o uTorrent ou similir para baixar</span></p>
          </div>

        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="page-header">
            <h3>Patch</h3>
          </div>

          <div class="info-group">
            <p><a href="#">Patch L2Site - Versão 1.0 (Exe)</a><br/>
            <span class="small">Liberado dia 08/05/17</span></p>
          </div>
          <div class="info-group">
            <p><a href="#">Patch L2Site - Versão 1.0 (Zip)</a><br/>
            <span class="small">Liberado dia 08/05/17</span></p>
          </div>

        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="page-header">
            <h3>Utilitários</h3>
          </div>
          <div class="info-group">
            <p><a href="#">TeamSpeak</a><br/>
            <span class="small">Comunicação</span></p>
          </div>
          <div class="info-group">
            <p><a href="#">RaidCall</a><br/>
            <span class="small">Comunicação</span></p>
          </div>
          <div class="info-group">
            <p><a href="#">uTorrent</a><br/>
            <span class="small">Cliente torrent</span></p>
          </div>
        </div>
      </div> <!-- /.Row -->
    </div>

  </div> <!-- /.Container -->
  <!-- /.Conteúdo -->

  <!-- Footer -->
  <div class="container footer">
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-left">
        <img class="footer-logo" src="../../assets/imgs/logo_bootstrap.png">
      </div>
      <div class="col-xs-12 col-sm-6 text-right">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-left">
        <p>Powered by Bootstrap, MySQL and PHP</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-right">
        <p style="vertical-align: bottom; ">Copyright L2Site - 2017</p>
      </div>
    </div>
  </div>
  <!-- /.Footer -->


  <!-- JavaScript -->
  <script src="../../assets/js/jquery.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
</body>
</html>
