<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>L2Site</title>

  <!-- CSS -->
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Taviraj:400,700" rel="stylesheet">
  <link href="../../assets/css/main.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <!-- Logotipo -->
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <img src="../../assets/imgs/logo.png" alt="logotipo" class="img-responsive">
      </div>
    </div>
    <!-- /.Logtipo -->

    <!-- Navbar -->
    <nav class="navbar navbar-inverse preto-transparente">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="#nav1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="#">Cadastro</a></li>
          <li><a href="#">Informações</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">Doações</a></li>
          <li class="hidden-sm"><a href="#">Fórum</a></li>
        </ul>
      </div>
    </nav>
    <!-- /.Navbar -->

    <!-- Conteúdo -->
    <div class="panel panel-default preto-transparente">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">

            <!-- Carousel -->
            <div class="col-xs-12 col-sm-8">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel" data-slide-to="1"></li>
                  <li data-target="#carousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="../../assets/imgs/home_carousel/img_01.png" alt="img">
                    <div class="carousel-caption">
                      <h1>Titulo</h1>
                      <p>Texto texto texto texto texto</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../assets/imgs/home_carousel/img_02.png" alt="img">
                    <div class="carousel-caption">
                      <h1>Titulo</h1>
                      <p>Texto texto texto texto texto</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../assets/imgs/home_carousel/img_03.png" alt="img">
                    <div class="carousel-caption">
                      <h1>Titulo</h1>
                      <p>Texto texto texto texto texto</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.Carousel -->

            <!-- Redes sociais -->
            <div class="col-xs-12 col-sm-4">
              <div class="page-header">
                <h3>Encontre-nos nas redes sociais</h3>
              </div>
              <p>Facebook: <a href="#">facebook.com/l2Site</a></p>
              <p>Twitter: <a href="#">@l2Site</a></p>
            </div>
            <!-- /.Redes sociais -->

          </div> <!-- Col -->
        </div> <!-- Row -->

        <div class="row">
            <!-- Bem vindo -->
            <div class="col-xs-12 col-sm-6">
              <div class="page-header">
                <h2>Seja bem vindo</h2>
              </div>

              <p>&nbspQuisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
            </div>
            <!-- /.Bem vindo -->

            <!-- Rates -->
            <div class="col-xs-12 col-sm-6">
              <div class="page-header">
                <h2>Rates</h2>
              </div>
              <div>
                <div class="col-xs-6 texto-enfase">
                  <p>XP - SP</p>
                  <p>Adena</p>
                  <p>Enchant</p>
                  <p>Buffs</p>
                </div>
                <div class="col-xs-6 texto-enfase">
                  <p>100x</p>
                  <p>1000x</p>
                  <p>+3 / +12</p>
                  <p>3 Horas</p>
                </div>
              </div>
            </div>
            <!-- /.Rates -->

          </div> <!-- ./Row -->
        </div> <!-- ./Panel Body -->
      </div> <!-- ./Panel -->

    </div> <!-- /.Container -->
    <!-- /.Conteúdo -->

    <!-- Footer -->
    <div class="container-fluid footer">
      <div class="row">
        <div class="col-xs-12 col-sm-6 text-left">
          <img class="footer-logo" src="../../assets/imgs/logo_bootstrap.png">
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 text-left">
          <p>Powered by Bootstrap, MySQL and PHP</p>
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
          <p>Copyright L2Site - 2017</p>
        </div>
      </div>
    </div>
    <!-- /.Footer -->


  <!-- JavaScript -->
  <script src="../../assets/js/jquery.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
</body>
</html>
