<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Título</title>

  <!-- CSS -->
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Taviraj:400,700" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
  <link href="../../assets/css/main.css" rel="stylesheet">
</head>
<body>
  <div class="container wraper-geral">
    <!-- Logotipo -->
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <img src="../../assets/imgs/logo.png" alt="logotipo" class="img-responsive">
      </div>
    </div>
    <!-- /.Logtipo -->

    <!-- Navbar -->
    <nav class="navbar navbar-inverse preto-transparente">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                      data-target="#nav1" aria-expanded="false">

          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="#">Título</a>
      </div>

      <div class="collapse navbar-collapse" id="nav1">
        <ul class="nav navbar-nav">
          <li>
                  <a href="/index.php?r=home">Home</a></li>
          <li>
            <a href="/index.php?r=cadastro">Cadastro</a></li>
          <li>
            <a href="/index.php?r=info">Informações</a></li>
          <li>
            <a href="/index.php?r=downloads">Downloads</a></li>
          <li>
            <a href="/index.php?r=doacoes">Doações</a></li>
          <li class="hidden-sm"><a href="#">Fórum</a></li>
        </ul>
      </div>
      </div>
    </nav>
    <!-- /.Navbar -->

    <!-- Conteúdo -->
    <div class="panel panel-default preto-transparente">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="page-header">
              <h2>Painel de controle <a href="#"><small class="pull-right">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></small></a></h2>
            </div>
            <p>Olá LOGIN, seja bem vindo ao painel de controle do nosso servidor!</p>

            <div class="col-xs-12 col-sm-4">
              <div class="page-header">
                <h3>Alterar Senha</h3>
              </div>
              <form action="/index.php?r=account&a=alterarSenha" method="post">
                <div class="form-group">
                  <input class="form-control" type="password" name="senha" placeholder="Senha Atual">
                </div>
                <div class="form-group">
                  <input class="form-control" type="password" name="nova_senha" placeholder="Nova senha">
                </div>
                <div class="form-group">
                  <input class="form-control" type="password" name="rep_nova_senha" placeholder="Repetir nova senha">
                </div>

                <input class="btn btn-default pull-right" type="submit" value="Trocar">
              </form>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="page-header">
                <h3>Meus chars</h3>
              </div>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Nick</th>
                    <th>Classe</th>
                    <th>PVP</th>
                    <th>PK</th>
                    <th>Jail?</th>
                    <th>Level</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Nick</td>
                    <td>Moonlight Sentinel</td>
                    <td>3211</td>
                    <td>116</td>
                    <td>Não</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Nick</td>
                    <td>Moonlight Sentinel</td>
                    <td>3211</td>
                    <td>116</td>
                    <td>Não</td>
                    <td>80</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>



      </div>
    </div>
    <!-- /.Conteúdo -->

    <!-- Footer
     <div class="footer">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img class="footer-logo" src="../../assets/imgs/logo_bootstrap.png">
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>Powered by Bootstrap, MySQL and PHP</p>
        </div>
        <div class="col-sm-6 text-right">
          <p>Copyright L2Site - 2017</p>
        </div>
      </div>
      </div>
    <!-- /.Footer -->
  </div> <!-- /.Container -->


  <!-- JavaScript -->
  <script src="../../assets/js/jquery.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
</body>
</html>
